:root {
  --border-thickness: 8px;
  --dropdown_time: 0.5s;
  --specs_droptime_time: 0.5s;
  --pfpbackground: #c2d9ffff;
  --heartcolor: #cd1515ff;
}

$bodybg: #eee;
$blurbbackgroundcolor: #ffffffff;
$blurb_border_color: #0f62dfff;
$usernamegap: 10px;
$pfp_size: 100px;
$blurbify_width: 900px;

// these are great
$debugborders: false;
$hideicons: false;
