@use "../../../../scss/utils/mixins" as *;

.linkdiv {
  width: 80%;
  text-decoration: none;
  color: navy;

  margin-top: 100px;
  margin-bottom: 26px;
  height: 300px;

  padding: 30px;
  border: 3px solid rgb(11, 100, 201);
  @include flexcol;
  border: 6px solid #988a88ff;
  border-radius: 35px;

  font-weight: bold;
  font-size: 40px;
  background-color: #7daef8ff;

  &:hover {
    background-color: rgb(248, 67, 67);
    color: white;
    border: 6px solid #d50303ff;
  }
  @media (max-width: 400px) {
    width: 70%;

    height: 200px;
    margin-top: 150px;
    font-size: 30px;
  }
}
