@use "../../../scss/utils/mixins" as *;

.universityul {
  width: 90%;
  height: 500px;
  background-color: #eee;
  list-style-type: none;

  padding: 45px 35px;
  border-radius: 26px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin: 0;

  @media (min-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }

  li.universitybox {
    /*  add padding too */
    /* regenerate the  */
    @include flexcol;
    border: 3px solid var(--secondarynavy);
    border-radius: 26px;
    height: 50%;
    // since its grid with the columns already laid out, I dont actually need a width

    a {
      background-color: #ff7731;
      width: 100%;

      height: 190px;
      border-radius: 25px;

      padding: 25px 30px 30px 40px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 25px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      transition: background-color 0.4s border 0.4s;

      &:hover {
        background-color: #bf5701;
        border: 2px solid white;
      }
    }
  }
}
