@use "../../../scss/utils/mixins" as *;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  @include bodyStyling;
  .sitecontainer {
    @include flexcol();
    // override default gap in my flexcol mixin
    gap: 0;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
    border: 3px solid rgb(176, 1, 1);
  }
  #heading {
    margin-top: 50px;
    background: linear-gradient(90deg, #425d84ff, #605bf7ff, #60c4ffff);

    /* standard gradient */
    -webkit-background-clip: text; /* show background only inside text */
    -webkit-text-fill-color: transparent; /* make text itself transparent */
    font-weight: bold;

    font-size: 150px;
    @media (max-width: 1000px) {
      font-size: 120px;
    }

    @media (max-width: 600px) {
      font-size: 60px;
    }
  }
}
